/* INPUT COMPONENT */

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4em;
}

.input-div:last-child {
  margin-bottom: 0;
}

/* Hide arrows in Chrome, Safari, and Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-text-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: .4em;
}

.input-text-div label {
  color: var(--color-marine-blue);
}

.error-message {
  color: var(--color-strawberry-red);
  font-weight: 600;
  font-size: .8rem;
}

.first-page-input {
  padding: .8em;
  border: 1px solid var(--color-gray-light);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  color: var(--color-marine-blue);
  font-family: var(--font-primary);
}

.first-page-input::placeholder {
  font-weight: 500;
  color: var(--color-cool-gray-light);
}

.first-page-input.error {
  border-color: var(--color-strawberry-red);
}

.first-page-input.focus {
  border-color: var(--color-purple);
}

