.calculation-div {
  background-color: var(--color-gray-lighter);
  padding: 1em .8em;
  border-radius: 10px;
  margin-bottom: 2em;
}

.plan-calc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-calc-text {
  display: flex;
  flex-direction: column;
}

.plan-calc-text p {
  color: var(--color-marine-blue);
  font-weight: 600;
}

.span-div {
  display: flex;
}

.span-div span {
  color: var(--color-cool-gray);
  text-decoration: underline;
  cursor: pointer;
}

.plan-calc-text span:hover {
  color: var(--color-purplish-blue);
}

.plan-price {
  color: var(--color-marine-blue);
  font-weight: 600;
  font-size: 1.1rem;
}

.line {
  margin-top: 1em;
  margin-bottom: .8em;
  border-bottom: 1px solid var(--color-gray-light);
}

.add-ons-calc {
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.add-on {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-on span {
  color: var(--color-marine-blue);
  font-size: 1.1rem;
}

.total-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .6em;
}

.total-div span {
  font-size: 1.4rem;
  color: var(--color-purplish-blue);
  font-weight: 600;
}



/* THANK PAGE */
.thanks-div {
  padding: 3rem 0;
  text-align: center;
}

.thanks-div img {
  margin-bottom: 1.4em;
}








/*-----------------------------------*\
  MEDIA QUERIES
\*-----------------------------------*/


@media (min-width: 500px) {
  .calculation-div {
    padding: 1.2em 1em;
  }

  .last-p {
    padding: 0 4em;
  }
}


@media (min-width: 800px) {
  .thanks-div {
    padding: 6em 0;
  }

  .line {
    margin-top: 1.5em;
  }
}