.btns-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.toggle-div {
  display: flex;
  background-color: var(--color-gray-lighter);
  justify-content: center;
  padding: 1em;
  align-items: center;
  border-radius: 8px;
}

.plan-period {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-cool-gray);
}

.selected-plan {
  color: var(--color-marine-blue);
}

.toggle-input {
  appearance: none;
  position: relative;
  width: 40px;
  height: 22px;
  background-color: var(--color-marine-blue);
  border-radius: 2rem;
  padding: .3em ;
  margin: 0 1.2em;
  cursor: pointer;
}

.toggle-input::before {
  content: '';
  position: absolute;
  left: 23px;
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  transition: 0.6s ease all;
}

.toggle-input:checked::before {
  left: 3px;
}



/* BUTTON COMPONENT */

.plan-btn {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-light);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.plan-btn:hover {
  border-color: var(--color-purple);
}

.plan-btn.clicked {
  background-color: var(--color-gray-lighter);
  border-color: var(--color-purple);
}

.plan-btn img {
  margin-right: 1.2em;
}

.btn-text-div {
  text-align: start;
}

.btn-text-div p {
  font-size: .99rem;
  margin-bottom: .5em;
  line-height: unset;
}

.free-months {
  color: var(--color-marine-blue);
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: .8em;
}





/*-----------------------------------*\
  MEDIA QUERIES
\*-----------------------------------*/


@media (min-width: 800px) {
  .btns-container {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .plan-btn {
    width: 32%;
    max-width: 170px;
    flex-direction: column;
    align-items: start;
    padding: .6em;
  }

  .plan-btn img {
    margin: .5em 0em 3em 0em;
  }
}

@media (min-width: 1100px) {
  .plan-btn {
    max-width: 130px;
    padding: .8em;
  }
}


