
/* CHECKBOX COMPONENT */

.checkbox-div {
  border: 1px solid var(--color-gray-light);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.checkbox-div:last-child {
  margin-bottom: .5em;
}

.checkbox-div:hover {
  border-color: var(--color-purple);
}

.checkbox-div.clicked {
  background-color: var(--color-gray-lighter);
  border-color: var(--color-purple);
}

.checkbox-text-contianer {
  display: flex;
  gap: 15px;
}

.checkbox-div input {
  width: 20px;
  cursor: pointer;
}

.checkbox-text-div h4 {
  margin-bottom: .3em;
}

.checkbox-text-div p {
  font-size: .99rem;
  margin-bottom: .5em;
  line-height: unset;
  margin-bottom: 0;
}

.checkbox-div span {
  color: var(--color-purple);
  font-size: 1em;
}




