$marine-blue: hsl(213, 96%, 18%);
$marine-blue-light: hsl(213, 95%, 25%);
$purplish-blue: hsl(243, 100%, 62%);
$purple: hsl(276, 73%, 50%);
$purplish-blue-light: hsl(243, 97%, 74%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);
$cool-gray: hsl(231, 11%, 63%);
$cool-gray-light: hsl(231, 8%, 65%);
$gray-light: hsl(229, 24%, 87%);
$gray-lighter: hsl(0, 0%, 97.8%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);


$font-primary: 'Ubuntu','sans-serif';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}